{% extends 'paging.html' %}
{% load static %}

{% block title %}
  <link rel="stylesheet" href="{% static 'paging/css/index.css' %}" />
{% endblock %}

{% block content %}
  <section id="banner">
    <h1>Welcome to Catering Services</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, aperiam eligendi exercitationem minima in quidem autem modi beatae magni natus!</p>
  </section>

  <section id="recent">
    <div class="title">
      <h3>meals of the day</h3>
    </div>
    <div class="content">
      <a href="#" class="box">
        <img src="{% static 'paging/img/banner.jpg' %}" alt="" />
        <div class="detail">
          <h4>breakfast</h4>
          <p>morining food from 8:00am - 12:00pm</p>
        </div>
      </a>
      <a href="#" class="box">
        <img src="{% static 'paging/img/banner.jpg' %}" alt="" />
        <div class="detail">
          <h4>breakfast</h4>
          <p>morining food from 8:00am - 12:00pm</p>
        </div>
      </a>
      <a href="#" class="box">
        <img src="{% static 'paging/img/banner.jpg' %}" alt="" />
        <div class="detail">
          <h4>breakfast</h4>
          <p>morining food from 8:00am - 12:00pm</p>
        </div>
      </a>
    </div>
  </section>

  <section class="flex flex-col gap-2 px-[5%]">
    <div class="flex flex-wrap gap-4 h-80 even:flex-row-reverse">
      <div class="bg-black grow basis-80"></div>
      <div class="p-8 py-16 grow basis-80 flex flex-col justify-start gap-8">
        <h2 class="text-3xl text-blue-300 font-semibold">Lorem, ipsum dolor.</h2>
        <p class="w-5/6 leading-5 text-gray-400 flex flex-col gap-2">
          <span>{% lorem 16 w %}</span>
          <span>{% lorem 24 w %}</span>
        </p>
      </div>
    </div>
    <div class="flex flex-wrap gap-4 h-80 even:flex-row-reverse">
      <div class="bg-black grow basis-80"></div>
      <div class="p-8 py-16 grow basis-80 flex flex-col justify-start gap-8">
        <h2 class="text-3xl text-blue-300 font-semibold">Lorem, ipsum dolor.</h2>
        <p class="w-5/6 leading-5 text-gray-400 flex flex-col gap-2">
          <span>{% lorem 11 w %}</span>
          <span>{% lorem 30 w %}</span>
        </p>
      </div>
    </div>
    <div class="flex flex-wrap gap-4 h-80 even:flex-row-reverse">
      <div class="bg-black grow basis-80"></div>
      <div class="p-8 py-16 grow basis-80 flex flex-col justify-start gap-8">
        <h2 class="text-3xl text-blue-300 font-semibold">Lorem, ipsum dolor.</h2>
        <p class="w-5/6 leading-5 text-gray-400 flex flex-col gap-2">
          <span>{% lorem 18 w %}</span>
          <span>{% lorem 26 w %}</span>
        </p>
      </div>
    </div>
  </section>

  <section class="w-full p-[8%]">
    <div class="text-white w-full h-80 rounded-md bg-lime-600 flex flex-col items-center justify-center gap-4">
      <h2 class="text-4xl font-bold">Get the best from our store.</h2>
      <p class="text-center w-1/3 md:w-8/12">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nemo, culpa nulla nam in laborum impedit. Officia mollitia enim ab.</p>
      <div class="mt-4 flex items-center justify-center gap-6 font-semibold text-sm">
        <a href="{% url 'account:register' %}" class="px-4 py-2 rounded-md flex items-center text-slate-900 bg-white">Get started</a>
        <a href="{% url 'paging:contact' %}" class="">Learn more</a>
      </div>
    </div>
  </section>
{% endblock %}
