{% extends 'cartfav.html' %}

{% block heading %}
  my favorites
{% endblock %}

{% block content %}
  {% if items.count %}
    <section class="w-full flex flex-wrap flex-row justify-start gap-2">
      <div class="basis-96 grow-[3] p-4 flex items-start bg-white rounded-md mb-auto">
        <table class="w-full">
          <thead class="">
            <tr class="border-b text-left text-slate-700 capitalize font-thin">
              <th class="p-4">product</th>
              <th class="p-4">price</th>
              <th class="p-4">Date</th>
              <th class="p-4"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
              <tr class="border-b border-b-slate-400 text-left text-slate-700 capitalize font-thin">
                <td class="p-4 flex gap-1">
                  <img src="{{ item.product.image.url }}" alt="" class="h-12 w-12 object-contain" />
                  <div class="flex flex-col justify-center leading-3">
                    <a href="{% url 'paging:detail' item.product.id %}" class="font-semibold text-md">{{ item.product.name }}</a>
                    <span class="text-xs lowercase font-semibold text-slate-400" style="font-variant: small-caps;">{{ item.product.category.name }}</span>
                  </div>
                </td>
                <td class="p-4 font-bold">N{{ item.product.price }}</td>
                <td class="p-4 font-bold">{{ item.created_at }}</td>
                <td class="p-4 font-bold">
                  <form action="{% url 'cartfav:remove-from-favorite' item.product.id %}" method="post" class="flex items-center justify-center">
                    {% csrf_token %}
                    <button class="w-5 h-5 flex items-center justify-center text-white bg-gray-600 font-bold rotate-45 rounded-full">+</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  {% else %}
    <h2 class="text-center text-white drop-shadow-md text-6xl capitalize mt-10">nothing in favorite</h2>
  {% endif %}
{% endblock %}
