{% extends 'account.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock title %}

{% block content %}
<form id="login" method="post">
    {% csrf_token %}
    <div class="title">
        <a href="{% url 'paging:index' %}" class="text-4xl text-white font-black">Sign in</a>
    </div>
    <div class="input-groups">
        <div class="group">
            <label for="username">username</label>
            <input type="text" name="username" required />
        </div>
        <div class="group">
            <label for="password">password</label>
            <input type="password" name="password" required />
        </div>
    </div>
    <div class="footer">
        <button type="submit">login</button>
        <div class="links">
            <span>Not having an account? <a href="{% url 'account:register' %}">create account</a></span>
        </div>
    </div>
</form>
{% endblock content %}