section#banner {
    width: 100%;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 83, 0, 0.8);
}

section#banner h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: clamp(2rem, 4vw, 4rem);
}